{% extends "layout.html" %}

{% block pageTitle %}
 Organisation page – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


<!-- Back starts-->
{% block beforeContent %}

<!-- phase banner starts-->
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<!--phase banner ends-->

 <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}
<!--Back ends -->

{% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Review subsidiaries in your 2022 group statement </h1>
          <!-- <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-5 red">ORG NAME LTD group statement (2022)</p>
          <p class="govuk-body red">You’ve told us your statement is for the following group of organisations. You can add more organisations to the group, or remove organisations, before confirming and continuing. </p>
          <p class="govuk-body red">If your statement is for a single organisation, and not a group, you can return to the ‘Who is your statement for?’ page and specify a <a href="#">single organisation. </a></p>-->

<!-- Table START -->
{% set mySecondary %}
    {{ govukButton({
        text: "Include",
        href: "#",
        classes: "govuk-button--secondary"
    }) }}
{% endset %}

{% set myLink %}
<p class="govuk-link"> <a href="#">Remove</a></p>
{% endset %}
<!-- <h1 class="govuk-heading-l govuk-!-margin-bottom-4">25 organisations</h1> -->

{{ govukTable({
  captionClasses: "govuk-body",
  firstCellIsHeader: false,
  head: [
    {
      text: "Organisation details",
      classes: 'app-custom-class'
    },
    {
      text: " ",
      classes: 'app-custom-class'
    }

  ],

  rows: [
  [
  {html: '<strong>ORG NAME ONE LTD</strong><br/>Asda House, South Bank, Great Wilson Street, Leeds, LS11 5AD<br/>Company number: 00464777<br/>'},
  {html:mySecondary}],
  [
  {html: '<strong>ORG NAME TWO LTD</strong><br/>173, St. Dunstans Hill, Cheam, Sutton, England, SM1 2LR<br/>Company number: 14217167<br/>'},
  {html:myLink}],
  [
  {html:'<strong>ORG NAME THREE LTD</strong><br/>10, Longwood Road, Huddersfield, West Yorkshire, United Kingdom, HD3 4EZ<br/>Company number: 12788706<br/>'},
  {html:myLink}],
  [
  {html: '<strong>ORG NAME FOUR LTD</strong><br/>1, Bartholomew Lane, London, United Kingdom, EC2N 2AX<br/>Company number: 03918551<br/>'},
  {html:myLink}],
  [
  {html: '<strong>ORG NAME FIVE LTD</strong><br/>4, Aylesbury Walk, Burnley, England, BB10 2RQ<br/>Company number: 11657700<br/>' },
  {html:myLink }],

  [
  {html: '<strong>ORG NAME SIX LTD</strong><br/>Asda House, South Bank, Great Wilson Street, Leeds, LS11 5AD<br/>Company number: 00464777<br/>'},
  {html:myLink}],
  [
  {html: '<strong>ORG NAME SEVEN LTD</strong><br/>173, St. Dunstans Hill, Cheam, Sutton, England, SM1 2LR<br/>Company number: 14217167<br/>'},
  {html:myLink}],
  [
  {html:'<strong>ORG NAME EIGHT LTD</strong><br/>10, Longwood Road, Huddersfield, West Yorkshire, United Kingdom, HD3 4EZ<br/>Company number: 12788706<br/>'},
  {html:myLink}],
  [
  {html: '<strong>SUBS NAME LTD</strong><br/>1, Bartholomew Lane, London, United Kingdom, EC2N 2AX<br/>Company number: 03918551<br/>'},
  {html:myLink}]
  ]
}) }}
<!-- Table END -->

<!--CTA start-->
{% from "govuk/components/button/macro.njk" import govukButton %}
<div class="govuk-button-group">
  {{ govukButton({
    text: "Confirm 8 organisations",
    href: "../6S1-1-Org/S11-complete"
  }) }}

  {{ govukButton({
    text: "Select more organisations",
    classes: "govuk-button--secondary",
    href: "S11-2-searchResults"
  }) }}
</div>
<!--CTA end-->

</div>

  </div>

{% endblock %}
