{% extends "layout.html" %}

{% block pageTitle %}
FY question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
         <h1 class="govuk-heading-m">For the 2023 modern slavery statement, your financial year-end date should fall between 1 July 2022 and 30 June 2023.</h1>
         <p class="govuk-heading-s">The registry categorises statements by the registry year they were due to be published rather than the financial year they cover.</p>
         <p class="govuk-body">You can calculate the registry year by adding 6 months to the date of your financial year-end date as the Home Office expects statements to be published within six months of the organisation’s financial year end.</p>
         <p class="govuk-body">Go back to the organisation page and read the guidance in the table to proceed with the correct registry year for your modern slavery statement submission.</p>
            {{ govukButton({
              text: "Back to Organisation page",
              href: "/return-user-adding/2_org_page"
            }) }}

    </div>
  </div>
{% endblock %}
