{% extends "layout.html" %}

{% block pageTitle %}
Give us more information – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
<!-- phase banner starts-->
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<!--phase banner ends-->

<!-- Back starts-->
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
<!--Back ends -->
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<!-- ****** supplement boxes needs to be added for the Value and the Other checbox *******-->
 <!--Check boxes start-->
 {% set textHtml %}
 {{ govukInput({
  label: {
    text: "What is your organisations's annual turnover or budget?"
  },
  prefix: {
    text: "£"
  },
  hint: {
    text: "For example, 25,560,000.00"
  },
  classes: "govuk-!-width-one-half",
  id: "annual-turnover",
  name: "annual-turnover"
}) }}
 {% endset -%}

 {% set textAreaHtml %}
 {{ govukCharacterCount({
  id: "label-as-page-heading",
  name: "label-as-page-heading",
  maxlength: 200,
  label: {
    text: "Please specify"
  }
}) }}
 {% endset -%}


 {{ govukCheckboxes({
    idPrefix: "waste",
    name: "waste",
    fieldset: {
      legend: {
        text: "Tell us why your organisation is not required to publish a modern slavery statement",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },

    items: [
      {
        value: "turnover",
        text: "Its turnover or budget is less than £36 million per year",
        checked: true,
        conditional: {
          html: textHtml
        }
      },
      {
        value: "goods",
        text: "It does not provide goods or services"
      },
      {
        value: "presence",
        text: "It does not have a business presence in the UK"
      },
      {
        value: "liquidation",
        text: "It is in administration or liquidation, has closed or is dormant, or has merged with another organisation",
        checked: true
      },
      {
        value: "other",
        text: "Other",
        conditional: {
          html: textAreaHtml
        }
      }
    ]
  }) }}
<!--Check boxes ends-->


<!-- Inset text starts-->
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{{ govukInsetText({
  html: '<a href="#">Guidance (opens in new window)</a> is available to help you work out whether your organisation is required to publish a modern slavery statement.'
}) }}
<!-- Inset text ends-->


<!--CTA start-->
<div class="govuk-button-group">
  {{ govukButton(
    {
    text: "Continue",
    href: "S12-2B-NoConfirm"
  }
  ) }}
<!--<a class="govuk-link" href="#">Skip this question</a>-->
</div>
<!--CTA end-->

      </form>

    </div>
  </div>

{% endblock %}
