{% extends "layout.html" %}

{% block pageTitle %}
Publishing is not required - Confirmation – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
<!-- phase banner starts-->
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<!--phase banner ends-->

<!-- Back starts-->
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
<!--Back ends -->
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-m">SIEMENS CHARITY LTD</span>
      <h1 class="govuk-heading-l govuk-!-margin-bottom-5">Confirm your subsidiary details</h1>
      {% set detailsHtml %}
      <ul class="govuk-list govuk-list--bullet">
        <li>It is in administration or liquidation, has closed or is dormant, or has merged with another organisation.</li>
        <li>Its turnover or budget is less than £36 million per year.</li>  </ul>
    {% endset %}



<!--Summary table-->
{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Organisation name"
      },
      value: {
        text: "SIEMENS CHARITY LTD"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "< Charity > number"
      },
      value: {
        text: "72236FH"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Registered address"
      },
      value: {
        html: '72 Guild Street<br>London<br>SE23 6FH'
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    }
  ]
}) }}















<!--CTA start-->
{% from "govuk/components/button/macro.njk" import govukButton %}
<div class="govuk-button-group">
  {{ govukButton(
    {
    text: "Confirm Subsidiary",
    href: "S11-4C-added-subsidiaries"
  }
  ) }}
</div>
<!--CTA end-->

      </form>

    </div>
  </div>

{% endblock %}
