{% extends "layout.html" %}

{% block pageTitle %}
 Organisation page – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


<!-- Back starts-->
{% block beforeContent %}

<!-- phase banner starts-->
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<!--phase banner ends-->

 <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}
<!--Back ends -->

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Your organisation name</h1>
<!-- Details panel ED START -->
{% set detailsHtml %}
  <p class="govuk-body">
  34 Turner Street,<br/>
  London,<br/>
  England,<br/>
  E1 2AS.
  </p>
  <p> <span class="govuk-body govuk-!-font-weight-bold">What to do if the organisation’s address is incorrect?</span>
  <br/>If you are a private or voluntary organisation and need to change your organisation name, sector information, or address you should do this via Companies House. Changes that you make will automatically be reflected on this site. If this information is not available on Companies House, please contact <a href="mailto:modernslaverystatements@homeoffice.gov.uk" class="govuk-link">modernslaverystatements@homeoffice.gov.uk</a></p>
{% endset %}

{{ govukDetails({
  summaryText: "Organisation address",
  html: detailsHtml
}) }}
<!-- Details panel ED END -->

<p class="govuk-body-l">Use this page to manage your statements on the registry. You can start or continue to provide information about your statement and submit it when you’re ready – or edit and resubmit a statement that you’ve already added.</p>
<h2 class="govuk-heading-m">Your financial year</h2>
<p class="govuk-body govuk-!-margin-bottom-6">You have informed us that your financial year falls between <span class="govuk-!-font-weight-bold">April</span> and <span class="govuk-!-font-weight-bold">March</span>.</p>
{{ govukDetails({
  summaryText: "Change in your financial year?",
  html: 'Please email us your new financial year details to <a href="mailto:modernslaverystatement@homeoffice.gov.uk">modernslaverystatement@homeoffice.gov.uk</a>. '
}) }}
    </div>

<div class="govuk-grid-column-full">
<!-- Table START -->
{% set myThing0 %}
    {{ govukButton({
        text: "Start",
        href: "#"
    }) }}
{% endset %}

{% set myThing %}
    {{ govukButton({
        text: "Start",
        href: "../../4_before_you_start.html"
    }) }}
{% endset %}

{% set mySecondary %}
    {{ govukButton({
        text: "Edit & Republish",
        href: "/return-user/6r_MSSR",
        classes: "govuk-button--secondary"
    }) }}
{% endset %}

{% set mySecondary2 %}
    {{ govukButton({
        text: "Edit & Republish",
        href: "/return-user/6r_MSSR",
        classes: "govuk-button--secondary"
    }) }}
{% endset %}

{{ govukTable({
  captionClasses: "govuk-body",
  firstCellIsHeader: true,
  head: [
    {
      text: "Financial year",
      classes: 'app-custom-class'
    },
    {
      text: "Submission deadline",
      classes: 'app-custom-class'
    },
    {
      text: "Statement required by law?",
      classes: 'app-custom-class'
    },
    {
      text: "Statement status on the registry",
      classes: 'app-custom-class'
    },
    {
      text: " ",
      classes: 'app-custom-class'
    }

  ],

  rows: [
  [
  {
    text: "Apr 2021 - Mar 2022"
  },
  {
    text: "30 Sep 2022"
  },
  {
    html:'Yes <br/><a href="#">Change</a>'
  },
  {
    text: "Not started"
  },
  {
    html:myThing
  }
],
  [
  {
    text: "Apr 2020 - Mar 2021"
  },
  {
    text: "30 Sep 2021"
  },
      {
        html:'Yes <br/><a href="#">Change</a>'
      },
      {
        text: "Published on 19 Jul 2022"
      },
      {
        html:mySecondary2
      }
    ],
    [
    {
      text: "Apr 2019 - Mar 2020"
    },
    {
      text: "30 Sep 2020"
    },
    {
      html:'Yes <br/><a href="#">Change</a>'
    },
    {
      text: "Published on 24 Jul 2021"
    },
    {
     html:mySecondary2
    }
  ]
  ]
}) }}
<!-- Table END -->
    </div>

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-m">Users who can add statements for this organisation</h1>
      <p class="govuk-body">You are the only person registered to add this organisation’s Modern slavery statements to the service.</p>
<!-- Details panel START -->
      <!-- text should be formatted - bulleted text/bold text-->
{{ govukDetails({
  summaryText: "What happens if I remove myself?",
  text: "If you remove yourself:
  you will not be able to add this organisation’s Modern slavery statements to the registry
  someone else will need to register this organisation in order to add its statements to the registry; registering an organisation can take up to a week
  your account will remain open"
}) }}
<!-- Details panel END -->

<p class="govuk-body">Joe Gibbins (You) <a href="#" class="govuk-link">Remove</a></p>

      </div>
  </div>

{% endblock %}
