{% extends "layout.html" %}

{% block pageTitle %}
Add your 2022 modern slavery statement to the registry – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
<!-- phase banner starts-->
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<!--phase banner ends-->

<!-- Back starts-->
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
<!--Back ends -->
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text bigfont" >
          <span class="govuk-warning-text__assistive">Warning</span>
          Are you sure your 2022 modern slavery statement covers a single organisation but not a group of organisations?
        </strong>
      </div>

<p class="gov-uk-body">Note: Once you confirm this, the organisations you have added for 2022 statement will not appear anymore.</p>



<!-- Radio button start -->
<form class="form" action="/return-user/6S1-1-group/S11-7-OrgTypeQ" method="post">
{{ govukRadios({
  idPrefix: "confirm-org",
  name: "confirm-org",
  classes: "govuk-radios--inline",
  items: [
    {
      value: "Yes",
      text: "Yes, covers a single organisation",
      checked: checked("confirm-org", "Yes")
    },
    {
      value: "No",
      text: "No, covers a group organisations",
      checked: checked("confirm-org", "No")
    }
  ],
  errorMessage: error
}) }}
<button class="govuk-button" data-module="govuk-button">Continue</button>
</form>
<!-- Radio button end-->

<!--CTA start
<div class="govuk-button-group">
  {{ govukButton(
    {
    text: "Save and continue",
    href: "S11-complete"
  }
  ) }}
  <a class="govuk-link" href="../6_MSSR">Skip this question</a>
</div>
CTA end-->

    </div>
  </div>

{% endblock %}
