{% extends "layout.html" %}

{% block pageTitle %}
FY question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<!-- phase banner starts-->
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<!--phase banner ends-->

<!-- Back starts-->
  <a class="govuk-back-link" href="3_org_page">Back</a>
<!--Back ends -->
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<!-- Error summary starts-->
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      html: 'To make changes to your Financial year start month, pleae email us at <a href="mailto:modernslaverystatement@homeoffice.gov.uk">modernslaverystatement@homeoffice.gov.uk</a>'
    }
  ]
}) }}

<!-- Error summary ends-->

      <form class="form" action="/#" method="post">
        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {{ govukRadios({
          name: "where-do-you-live",
          fieldset: {
            legend: {
              text: "In which month does your financial year starts?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"}
            },
            hint: {
              text: "We consider that your financial year will end after the 12 month from the month you are going to select on this page."
            },
          items: [
            {
              value: "january",
              text: "January"
            },
            {
              value: "february",
              text: "February",
              checked: true
            },
            {
              value: "march",
              text: "March"
            },
            {
              value: "april",
              text: "April"
            },
            {
              value: "may",
              text: "May"
            },
            {
              value: "june",
              text: "June"
            },
            {
              value: "july",
              text: "July"
            },
            {
              value: "august",
              text: "August"
            },
            {
              value: "september",
              text: "September"
            },
            {
              value: "october",
              text: "October"
            },
            {
              value: "november",
              text: "November"
            },
            {
              value: "december",
              text: "December"
            }
          ], errorMessage: {
            text: "We cannot update your changes"
          }
        }) }}


<!--CTA start-->
<div class="govuk-button-group">
  {{ govukButton({
    text: "Save and continue",
    href: "3_org_page"
  }) }}
</div>
<!--CTA end-->
 <!-- <button class="govuk-button" data-module="govuk-button">Continue</button> -->

      </form>

    </div>
  </div>

{% endblock %}
