{% extends "layout.html" %}

{% block pageTitle %}
Add your 2022 modern slavery statement to the registry – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<!-- phase banner starts-->
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<!--phase banner ends-->

<!-- Back starts-->
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
<!--Back ends -->
{% endblock %}




{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Add your 2022 modern slavery statement to the registry</h1>
      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Submission incomplete for < ORG NAME LTD > </h2>
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed 5 of 12 sections.</p>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span>Basic information about your statement and organisation (required)
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="../6S1-1-Org/S11-1-Org" aria-describedby="eligibility-status">Organisations covered by the statement</a>
              </span>
              <strong class="govuk-tag  app-task-list__tag" id="eligibility-status">COMPLETED</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name"> <a href="../6S1-3-FY-PDF/S13-1-URL" aria-describedby="read-declaration-status">Statement URL, PDF, dates and sign-off</a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">COMPLETED</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name"> <a href="../6S1-4-areas/S14-1" aria-describedby="read-declaration-status">Recommended areas covered by the statement</a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">COMPLETED</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                 <a href="../6S1-5-sector/S15-2-turnover" aria-describedby="read-declaration-status">Your organisation's sectors and turnover</a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">COMPLETED</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="S16-1-years" aria-describedby="read-declaration-status">How many years you've been producing statements</a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">COMPLETED</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Statement summary (optional)
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="company-information-status">Policies</a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="company-information-status">NOT STARTED</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="contact-details-status">Training</a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="contact-details-status">NOT STARTED</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name"><a href="#" aria-describedby="list-convictions-status">Monitoring working conditions</a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">NOT STARTED</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name"><a href="#" aria-describedby="list-convictions-status">Modern slavery risks</a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">NOT STARTED</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name"><a href="#" aria-describedby="list-convictions-status">Finding indicators of modern slavery</a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">NOT STARTED</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name"><a href="#" aria-describedby="list-convictions-status">Demonstrating progress</a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">NOT STARTED</strong>
            </li>
          </ul>
        </li>
      </ol>


      <h2 class="app-task-list__section">Submit your answers</h2>
    <!-- Details panel ED START -->
{% set declarationHtml %}
<p class="govuk-body">I confirm that:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>the information I have supplied is true, to the best of my knowledge, and based on the statement that was approved by the board (or equivalent) and signed-off by the relevant director (or equivalent)</li>
  <li>I am authorised to supply this information on behalf of the organisation(s) the modern slavery statement is for</li>
  <li>if the statement is for a group, all organisations in the group know that this statement is being submitted to the service on their behalf</li></ul>

  <p class="govuk-body">I understand that:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>the answers I submit will be published on GOV.UK</li>
    <li>my submission may be removed from the service if it is found to contain inappropriate content</li>
   </ul>
{% endset %}

{{ govukDetails({
summaryText: "Declaration",
html: declarationHtml
}) }}
<!-- Details panel ED END -->

<!-- Checkbox start-->
      {{ govukCheckboxes({
        idPrefix: "waste",
        name: "waste",
        items: [
          {
            value: "declaration-CB",
            text: "I understand and agree with the above declaration"
          }
        ]
      }) }}
<!-- Checkbox end-->


<!-- CTA start-->
<div class="govuk-button-group">
  {{ govukButton({
    text: "Submit for publication",
    href:'../6_MSSR-confirmation'
  }) }}

  {{ govukButton({
    text: "Save as draft",
    classes: "govuk-button--secondary",
    href:'../../2_org_page'
  }) }}
</div>
<!-- CTA end-->






    </div>
  </div>






{% endblock %}
