{% extends "layout.html" %}

{% block pageTitle %}
 Organisation page – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


<!-- Back starts-->
{% block beforeContent %}

<!-- phase banner starts-->
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<!--phase banner ends-->


  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}
<!--Back ends -->

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Download modern slavery statement summary data</h1>
      <p class="govuk-body-l">You can download modern slavery statement summaries in CSV format. These files contain organisations’ answers to our questions about their modern slavery statements.</p>

<!-- Details panel ED START -->
{{ govukDetails({
  summaryText: "What are CSV files?",
  text: "These files are in a CSV (Comma Separated Values) format that can be read by any spreadsheet program or word processor. They are not formatted for printing."
}) }}
<!-- Details panel ED END -->
</div> </div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-m">Downloads</h1>
<!--- File 1 Start-->
<div class="govuk-grid-column-one-quarter"><img src="/public/images/doc-thumbnail.png" alt="Thumbnail to represent a document"></div>
<div class="govuk-grid-column-two-thirds">
<!--File details section start -->
<h1 class="govuk-heading-m govuk-!-margin-bottom-1">Modern slavery statement summaries (2022)</h1>
<p class="govuk-body">Covers all organsiations with the financial year ending 31 March 2023<br/>
<span class="govuk-body-s"> CSV | 320 KB</span></p>
<p><a href="#" class="govuk-link">Download file</a></p>
<!-- file details end -->
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
</div>
<!--- File 1 end-->


<!--- File 2 Start-->
<div class="govuk-grid-column-one-quarter"><img src="/public/images/doc-thumbnail.png" alt="Thumbnail to represent a document"></div>
<div class="govuk-grid-column-two-thirds">
<!--File details section start -->
<h1 class="govuk-heading-m govuk-!-margin-bottom-1">Modern slavery statement summaries (2021)</h1>
<p class="govuk-body">Covers all organsiations with the financial year ending 31 March 2022<br/>
<span class="govuk-body-s"> CSV | 320 KB</span></p>
<p><a href="#" class="govuk-link">Download file</a></p>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
<!-- file details end -->
</div>
<!--- File 2 end-->


<!--- File 3 Start-->
<div class="govuk-grid-column-one-quarter"><img src="/public/images/doc-thumbnail.png" alt="Thumbnail to represent a document"></div>
<div class="govuk-grid-column-two-thirds">
<!--File details section start -->
<h1 class="govuk-heading-m govuk-!-margin-bottom-1">Modern slavery statement summaries (2020)</h1>
<p class="govuk-body">Covers all organsiations with the financial year ending 31 March 2021<br/>
<span class="govuk-body-s"> CSV | 320 KB</span></p>
<p><a href="#" class="govuk-link">Download file</a></p>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
<!-- file details end -->
</div>
<!--- File 3 end-->
</div>

</div></div>


{% endblock %}
