{% extends "layout.html" %}

{% block pageTitle %}
Confirming publishing is required – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
<!-- phase banner starts-->
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<!--phase banner ends-->

<!-- Back starts-->
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
<!--Back ends -->
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-5">Confirm your organisation is required to publish a modern slavery statement in 2023</h1>

<!-- Table 1 starts-->

{{ govukTable({
  firstCellIsHeader: true,

  rows: [
    [
      {
        text: "Organisation Reference"
      },
      {
        text: "NQHMYC2C"
      }
    ],
    [
      {
        text: "Organisation Name"
      },
      {
        text: "Name of the organisation"
      }
    ],
    [
      {
        text: "Registered Address"
      },
      {
        html: '34 Turner Street<br/>
        London<br/>
        England<br/>
        E1 2AS'
      }
    ]
  ]
}) }}
<!-- Table 1 ends-->

<!-- Inset text starts-->
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{{ govukInsetText({
  html: '<a href="#">Guidance (opens in new window)</a> is available to help you work out whether your organisation is required to publish a modern slavery statement.'
}) }}
<!-- Inset text ends-->




<!--CTA start-->
{% from "govuk/components/button/macro.njk" import govukButton %}
<div class="govuk-button-group">
  {{ govukButton(
    {
    text: "Confirm",
    href: "S12-4-YesDeclare"
  }
  ) }}
  <!-- <a class="govuk-link" href="#">Skip this question</a> -->
</div>
<!--CTA end-->

      </form>
<p class="govuk-body">If your organisation name or address is incorrect, email us at <a href="#">modernslaverystatements@homeoffice.gov.uk</a> and let us know the correct information.</p>
    </div>
  </div>

{% endblock %}
