{% extends "layout.html" %}

{% block pageTitle %}
Add your 2023 modern slavery statement to the registry – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


<!-- Back starts-->
{% block beforeContent %}

<!-- phase banner starts-->
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<!--phase banner ends-->

 <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}
<!--Back ends -->

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-2">150 search results</h1>
    <p class="govuk-body-l govuk-!-margin-bottom-2">Search term: Siemens energy</p>
    <p class="govuk-body govuk-!-margin-bottom-9"><a href="S11-2-search" class="govuk-link">Search again</a></p>
</div>

<div class="govuk-grid-column-full">



<!-- Table START -->
{% set mySecondary %}
    {{ govukButton({
        text: "Include",
        href: "S11-3-resultsSelected",
        classes: "govuk-button--secondary"
    }) }}
{% endset %}

{% set myLink %}
<p class="govuk-link"> <a href="#">Remove</a></p>
{% endset %}

{% set myCheckbox %}
{{ govukCheckboxes({
  idPrefix: "include",
  name: "include",
  classes: "govuk-checkboxes--small",
  items: [
    {
      value: "carcasses",
      text: " "
    }
  ]
}) }}
{% endset %}


{% set myCheckboxSelected %}
{{ govukCheckboxes({
  idPrefix: "include",
  name: "include",
  classes: "govuk-checkboxes--small",
  items: [
    {
      value: "carcasses",
      text: " ",
      checked: true
    }
  ]
}) }}
{% endset %}


{{ govukTable({
  captionClasses: "govuk-body",
  firstCellIsHeader: true,
  head: [
    { text: "Subsidiary name",
      classes: 'app-custom-class'
    },
    { text: "Company number",
      classes: 'app-custom-class'
    },
    { text: "Address",
      classes: 'app-custom-class'
    },
    {text: "Include ",
      classes: 'app-custom-class'
    }
  ],

  rows: [
  [{text: "SUBS NAME LTD"},
  { text: "08190978"},
  { html: 'C A Parsons Works, Shields Road, <br/>Newcastle Upon Tyne, England, NE6 2YL'},
  {html:myLink}],

  [{text: "SUBS NAME LTD"},
  { text: "12039490"},
  { html: '12 Mayfield Road, London, England, W3 9HQ'},
  {html:mySecondary}],

  [{text: "SUBS NAME LTD"},
  { text: "11736662"},
  { html: '66 High Street, Wickham Market, Woodbridge, <br/>Suffolk, United Kingdom, IP13 0QU'},
  {html:myLink}],

  [{text: "SUBS NAME LTD"},
  { text: "13226517"},
  { html: '25 New Road, London, England, E1 1HE'},
  {html:mySecondary}],

  [{text: "SUBS NAME LTD"},
  { text: "01396513"},
  { html: '14 Kingston Road, Surbiton, <br/>England, KT5 9NU'},
  {html:mySecondary}],

  [{text: "SUBS NAME LTD"},
  { text: "LP017007"},
  { html: 'C A Parsons Works, Shields Road, <br/>Newcastle Upon Tyne, England, NE6 2YL'},
  {html:myLink}],

  [{text: "SUBS NAME LTD"},
  { text: "SC042330"},
  { html: 'Erskine Ferry Road, Old Kilpatrick,<br/> Dunbartonshire, G60 5EU'},
  {html:mySecondary}],

  [{text: "SUBS NAME LTD"},
  { text: "07422241"},
  { html: 'Suite C Lancaster House Grange Business Park Enderby Road, <br/>Whetstone, Leicester, Leicestershire, LE8 6EP'},
  {html:mySecondary}],

  [{text: "SUBS NAME LTD"},
  { text: "06779345"},
  { html: 'Blade Factory Sir William Siemens Way, <br/>Alexandra Dock, Hull, England, HU9 1TA'},
  {html:mySecondary}],

  [{text: "SUBS NAME LTD"},
  { text: "09349948"},
  { html: '95, Ashburton Avenue, Ilford, Essex, IG3 9EP'},
  {html:mySecondary}],

  [{text: "SUBS NAME LTD"},
  { text: "02133170"},
  { html: 'Morgan House, Madeira Walk, Windsor, <br/>Berkshire, England, SL4 1EP'},
  {html:mySecondary}],

  [{text: "SUBS NAME LTD"},
  { text: "11154106"},
  { html: '20-22, Wenlock Road, London, England, N1 7GU'},
  {html:mySecondary}],

  [{text: "SUBS NAME LTD"},
  { text: "12212714"},
  { html: '14, Park Lane, Exeter, Devon, England, EX4 9HL'},
  {html:mySecondary}],

  [{text: "SUBS NAME LTD"},
  { text: "07061854"},
  { html: 'Acre House 11-15 William Road,<br/> London, NW1 3ER'},
  {html:mySecondary}],

  [{text: "SUBS NAME LTD"},
  { text: "06210259"},
  { html: 'Airport House, Suite 43-45 Purley Way, <br/>Croydon, Surrey, CR0 0XZ'},
  {html:mySecondary}],

  [{text: "SUBS NAME LTD"},
  { text: "07243250"},
  { html: '95, Ashburton Avenue, Ilford, Essex, IG3 9EP'},
  {html:mySecondary}],

  [{text: "SUBS NAME LTD"},
  { text: "06385584"},
  { html: '106, Damsonwood Road, Southall, Middlesex,<br/> United Kingdom, UB2 4RT'},
  {html:mySecondary}],

  [{text: "SUBS NAME LTD"},
  { text: "07506248"},
  { html: '40a, Elmcroft Road, North Kilworth, Lutterworth,<br/> Leicestershire, England, LE17 6HX'},
  {html:mySecondary}],

  [{text: "SUBS NAME LTD"},
  { text: "11414209"},
  { html: 'Suite C Lancaster House Grange Business Park Enderby Road, <br/>Whetstone, Leicester, Leicestershire, LE8 6EP'},
  {html:mySecondary}],

  [{text: "SUBS NAME LTD"},
  { text: "11818831"},
  { html: '21, Buckingham Place, Flat 5, Brighton, Brighton,<br/> United Kingdom, BN1 3PQ'},
  {html:mySecondary}]

]
}) }}
<!-- Table END -->

<!--pagination starts-->
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{{ govukPagination({
  previous: {
    href: "S11-3iA-resultsSelected"
  },
  next: {
    href: "#"
  },
  items: [
    {
      number: 1,
      href: "S11-3-inc-resultsSelected"
    },
    {
      number: 2,
      href: "S11-3A-inc-resultsSelected"
    },
    {
      number: 3,
      current: true,
      href: "S11-3B-inc-resultsSelected"
    }
  ]
}) }}
<!--pagination ends-->


<p class="govuk-body-l">You have included 9 subsidiaries</p>


<!--CTA start-->
{% from "govuk/components/button/macro.njk" import govukButton %}
<div class="govuk-button-group">
  {{ govukButton(
    {
    text: "Save and Continue",
    href: "S11-5A-inc-orgsReview"
  }
  ) }}
</div>
<p class="govuk-body"><a href="../../new-user/6S1-1-group/S11-4-org-details"> Can't find the subsidiary you're looking for?</a></p>
<!--CTA end-->

</div>

  </div>

{% endblock %}
