{% extends "layout.html" %}

{% block pageTitle %}
Confirm your organsiation details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
<!-- phase banner starts-->
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<!--phase banner ends-->

<!-- Back starts-->
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
<!--Back ends -->
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-5">Confirm your organisation’s details</h1>
<p>&nbsp;</p>
<h3 class="govuk-heading-m">Organisation details</h3>
<!-- Org details START-->
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Organisation name"
      },
      value: {
        text: "	Org name"
      },
      actions: {
        items: [
          {
            href: "4-org-details",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "< Company > number"
      },
      value: {
        text: "45673241"
      },
      actions: {
        items: [
          {
            href: "4-org-details",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Registered address"
      },
      value: {
        html: "72 Guild Street, London, SE23 6FH"
      },
      actions: {
        items: [
          {
            href: "4A-org-address",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    }
  ]
}) }}
<!--Org details end-->
<p>&nbsp;</p>


<h3 class="govuk-heading-m">Contact details</h3>
<!-- Contact details START-->
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Your name"
      },
      value: {
        text: "Joe Gibbins"
      },
      actions: {
        items: [
          {
            href: "4B-contact-details",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Email"
      },
      value: {
        text: "joe.gibbins@gmail.com"
      },
      actions: {
        items: [
          {
            href: "4B-contact-details",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Telephone"
      },
      value: {
        html: "	07985647554"
      },
      actions: {
        items: [
          {
            href: "4B-contact-details",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    }
  ]
}) }}
<!--Contact details ENDS-->











<!--CTA start-->
{% from "govuk/components/button/macro.njk" import govukButton %}
<div class="govuk-button-group">
  {{ govukButton(
    {
    text: "Confirm Organisation",
    href: "5-confirm-org"
  }
  ) }}
</div>
<!--CTA end-->

      </form>

    </div>
  </div>

{% endblock %}
