{% extends "layout.html" %}

{% block pageTitle %}
Publishing is not required - Confirmation – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
<!-- phase banner starts-->
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<!--phase banner ends-->

<!-- Back starts-->
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
<!--Back ends -->
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-5">Confirm your organisation is not required to publish a modern slavery statement in 2023</h1>
      {% set detailsHtml %}
      <ul class="govuk-list govuk-list--bullet">
        <li>It does not provide goods or services</li>
        <li>It is in administration or liquidation, has closed or is dormant, or has merged with another organisation.</li>
       </ul>
    {% endset %}


      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Organisation reference"
            },
            value: {
              text: "NQHMYC2C"
            }
          },
          {
            key: {
              text: "Organisation name"
            },
            value: {
              text: "Name of the organisation"
            }
          },
          {
            key: {
              text: "Registered Address"
            },
            value: {
              html: "72 Guild Street<br>London<br>SE23 6FH"
            }
          },
          {
            key: {
              text: "Your reasons for not required to publish a statement"
            },
            value: {
              html: detailsHtml
            }
            ,
      actions: {
        items: [
          {
            href: "S12-2D-NoSelection-selected",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
          }
        ]
      }) }}



<!--CTA start-->
{% from "govuk/components/button/macro.njk" import govukButton %}
<div class="govuk-button-group">
  {{ govukButton(
    {
    text: "Confirm",
    href: "S12-2C-NoDeclare"
  }
  ) }}
  <!-- <a class="govuk-link" href="#">Skip this question</a> -->
<p class="govuk-body">If your organisation name or address is incorrect, email us at <a href="#">modernslaverystatements@homeoffice.gov.uk</a> and let us know the correct information.</p>
</div>
<!--CTA end-->

      </form>

    </div>
  </div>

{% endblock %}
