{% extends "layout.html" %}

{% block pageTitle %}
Add your 2023 modern slavery statement to the registry – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<!-- phase banner starts-->
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<!--phase banner ends-->

<!-- Back starts-->
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
<!--Back ends -->
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-5">Does your statement cover the following areas in relation to modern slavery?</h1>


<!-- Radio 1 start -->
 <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="rb1-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">Your organisation’s structure, business and supply chains</h1>
    </legend>

    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="rb1" name="rb1" type="radio" value="email" data-aria-controls="conditional-rb1">
        <label class="govuk-label govuk-radios__label" for="rb1">
          Yes
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="rb1-2" name="rb1" type="radio" value="phone" data-aria-controls="conditional-rb1-2">
        <label class="govuk-label govuk-radios__label" for="rb1-2">
          No
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-rb1-2">
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper"><label class="govuk-body" for="more-detail">
            Provide more details for compliance
            </label>
          </h1>
          <div id="more-detail-hint" class="govuk-hint">
            For example, you’re working on this area for your next statement.
          </div>
          <textarea class="govuk-textarea govuk-!-margin-bottom-1" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
          <span class="govuk-hint"> You have 200 characters remaining </span>
        </div>
      </div>
    </div>
  </fieldset>
</div>
<!-- Radio 1 end -->


<!-- Radio 2 start -->
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="rb2-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">Policies</h1>
    </legend>

    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="rb2" name="rb2" type="radio" value="email" data-aria-controls="conditional-rb2">
        <label class="govuk-label govuk-radios__label" for="rb2">
          Yes
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="rb2-2" name="rb2" type="radio" value="phone" data-aria-controls="conditional-rb2-2">
        <label class="govuk-label govuk-radios__label" for="rb2-2">
          No
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-rb2-2">
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper"><label class="govuk-body" for="more-detail">
            Provide more details for compliance
            </label>
          </h1>
          <div id="more-detail-hint" class="govuk-hint">
            For example, you’re working on this area for your next statement.
          </div>
          <textarea class="govuk-textarea govuk-!-margin-bottom-1" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
          <span class="govuk-hint"> You have 200 characters remaining </span>
        </div>
      </div>
    </div>
  </fieldset>
</div>
<!-- Radio 2 end -->


<!-- Radio 3 start -->
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="rb3-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">Risk assessment</h1>
    </legend>

    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="rb3" name="rb3" type="radio" value="email" data-aria-controls="conditional-rb3">
        <label class="govuk-label govuk-radios__label" for="rb3">
          Yes
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="rb3-2" name="rb3" type="radio" value="phone" data-aria-controls="conditional-rb3-2">
        <label class="govuk-label govuk-radios__label" for="rb3-2">
          No
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-rb3-2">
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper"><label class="govuk-body" for="more-detail">
            Provide more details for compliance
            </label>
          </h1>
          <div id="more-detail-hint" class="govuk-hint">
            For example, you’re working on this area for your next statement.
          </div>
          <textarea class="govuk-textarea govuk-!-margin-bottom-1" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
          <span class="govuk-hint"> You have 200 characters remaining </span>
        </div>
      </div>
    </div>
  </fieldset>
</div>
<!-- Radio 3 end -->




<!-- Radio 4 start -->
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="rb4-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">Due diligence (steps to address risk)</h1>
    </legend>

    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="rb4" name="rb4" type="radio" value="email" data-aria-controls="conditional-rb4">
        <label class="govuk-label govuk-radios__label" for="rb4">
          Yes
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="rb4-2" name="rb4" type="radio" value="phone" data-aria-controls="conditional-rb4-2">
        <label class="govuk-label govuk-radios__label" for="rb4-2">
          No
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-rb4-2">
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper"><label class="govuk-body" for="more-detail">
            Provide more details for compliance
            </label>
          </h1>
          <div id="more-detail-hint" class="govuk-hint">
            For example, you’re working on this area for your next statement.
          </div>
          <textarea class="govuk-textarea govuk-!-margin-bottom-1" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
          <span class="govuk-hint"> You have 200 characters remaining </span>
        </div>
      </div>
    </div>
  </fieldset>
</div>
<!-- Radio 4 end -->


<!-- Radio 5 start -->
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="rb5-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">Training about modern slavery</h1>
    </legend>

    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="rb5" name="rb5" type="radio" value="email" data-aria-controls="conditional-rb5">
        <label class="govuk-label govuk-radios__label" for="rb5">
          Yes
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="rb5-2" name="rb5" type="radio" value="phone" data-aria-controls="conditional-rb5-2">
        <label class="govuk-label govuk-radios__label" for="rb5-2">
          No
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-rb5-2">
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper"><label class="govuk-body" for="more-detail">
            Provide more details for compliance
            </label>
          </h1>
          <div id="more-detail-hint" class="govuk-hint">
            For example, you’re working on this area for your next statement.
          </div>
          <textarea class="govuk-textarea govuk-!-margin-bottom-1" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
          <span class="govuk-hint"> You have 200 characters remaining </span>
        </div>
      </div>
    </div>
  </fieldset>
</div>
<!-- Radio 5 end -->


<!-- Radio 6 start -->
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="rb6-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">Goals and key performance indicators (KPIs) to measure the effectiveness of your actions and progress over time</h1>
    </legend>

    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="rb6" name="rb6" type="radio" value="email" data-aria-controls="conditional-rb6">
        <label class="govuk-label govuk-radios__label" for="rb6">
          Yes
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="rb6-2" name="rb6" type="radio" value="phone" data-aria-controls="conditional-rb6-2">
        <label class="govuk-label govuk-radios__label" for="rb6-2">
          No
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-rb6-2">
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper"><label class="govuk-body" for="more-detail">
            Provide more details for compliance
            </label>
          </h1>
          <div id="more-detail-hint" class="govuk-hint">
            For example, you’re working on this area for your next statement.
          </div>
          <textarea class="govuk-textarea govuk-!-margin-bottom-1" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
          <span class="govuk-hint"> You have 200 characters remaining </span>
        </div>
      </div>
    </div>
  </fieldset>
</div>
<!-- Radio 6 end -->

<!--CTA start-->
{% from "govuk/components/button/macro.njk" import govukButton %}
<div class="govuk-button-group">
  {{ govukButton(
    {
    text: "Save and continue",
    href: "S14-complete"
  }
  ) }}
  <a class="govuk-link" href="../6S1-3-FY-PDF/S13-complete">Skip this question</a>
</div>
<!--CTA end-->

      </form>

    </div>
  </div>

{% endblock %}
