{% extends "layout.html" %}

{% block pageTitle %}
FY question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<!-- phase banner starts-->
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<!--phase banner ends-->

<!-- Back starts-->
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
<!--Back ends -->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-5">What are your financial year dates for the 2022 statement?</h1>
      <span class="govuk-caption-l govuk-!-margin-bottom-5">For the 2022 modern slavery statement, your financial year-end date should fall between 1 July 2021 and 30 June 2022.</span>
      <br/>
      <form class="form" action="/#" method="post">

<!-- new FY Start date start -->
{{ govukDateInput({
  id: "financial-start-date",
  namePrefix: "[FStartDate]",
  fieldset: {
    legend: {
      text: "Financial year start date",
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "For example, 27 3 2007"
  },
  items: [
      {
        name: "day",
        classes: "govuk-input--width-2",
        value: data["FStartDate"][0]
      },
      {
        name: "month",
        classes: "govuk-input--width-2",
        value: data["FStartDate"][1]
      },
      {
        name: "year",
        classes: "govuk-input--width-4",
        value: data["FStartDate"][2]
      }
    ]
}) }}
<!-- new FY Start date end -->


<p>&nbsp;</p>

<!-- new FY End date start -->
{{ govukDateInput({
  id: "financial-end-date",
  namePrefix: "[FEndDate]",
  fieldset: {
    legend: {
      text: "Financial year-end date",
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "For example, 27 3 2007"
  },
  items: [
      {
        name: "day",
        classes: "govuk-input--width-2",
        value: data["FEndDate"][0]
      },
      {
        name: "month",
        classes: "govuk-input--width-2",
        value: data["FEndDate"][1]
      },
      {
        name: "year",
        classes: "govuk-input--width-4",
        value: data["FEndDate"][2]
      }
    ]
}) }}
<!-- new FY End date end -->



<!--CTA start-->
<div class="govuk-button-group">
  {{ govukButton({
    text: "Save and continue",
    href: "S13-7-Approval"
  }) }}
  <a class="govuk-link" href="S13-7-Approval">Skip this question</a>
</div>
<!--CTA end-->


 <!-- <button class="govuk-button" data-module="govuk-button">Continue</button> -->

      </form>

    </div>
  </div>

{% endblock %}
