{% extends "layout.html" %}

{% block pageTitle %}
Statement approval – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<!-- phase banner starts-->
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<!--phase banner ends-->

<!-- Back starts-->
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
<!--Back ends -->
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">What is the name of the director (or equivalent) who signed off your statement?</h1>
    <!-- Textfields start-->
      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukInput({
        label: {
          text: "First name"
        },
        classes: "govuk-input--width-20",
        id: "width-20",
        name: "width-20",
        value: "Harry"
      }) }}

      {{ govukInput({
        label: {
          text: "Last name"
        },
        classes: "govuk-input--width-20",
        id: "width-20",
        name: "width-20",
        value: "Clifton"
      }) }}

      {{ govukInput({
        label: {
          text: "Job title"
        },
        classes: "govuk-input--width-20",
        id: "width-20",
        name: "width-20",
        value: "Modern slavery director"
      }) }}
 <!-- Textfields end-->

<!-- Date section start-->
      {{ govukDateInput({
        id: "passport-issued",
        namePrefix: "passport-issued",
        fieldset: {
          legend: {
            text: "What date was your statement approved by the board or equivalent management body?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          html: 'For example, 27 3 2007'
        },
        items: [
        {
          name: "day",
          classes: "govuk-input--width-2",
          value: 10
        },
        {
          name: "month",
          classes: "govuk-input--width-2",
          value: 04
        },
        {
          name: "year",
          classes: "govuk-input--width-4",
          value: 2021
        }
      ]
      }) }}


<!-- Date section end-->

<!--   hint: {
          html: 'The approved date should fall after your financial year-end date DD.MM.YYYY <br/> <br/> For example, 27 3 2007'
        }-->

<!--CTA start-->
{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="govuk-button-group">
  {{ govukButton({
    text: "Save and continue",
    href: "../6r_MSSR-complete"
  }) }}
  <a class="govuk-link" href="../6r_MSSR-complete">Skip this question</a>
</div>
<!--CTA end-->


      </form>

    </div>
  </div>

{% endblock %}
