{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<!-- phase banner starts-->
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<!--phase banner ends-->

<!-- Back starts-->
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
<!--Back ends -->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">How many years has your organisation been producing modern slavery statements?</h1>

      <form class="form" action="#" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "where-do-you-live",
          name: "where-do-you-live",
          fieldset: {
            legend: {
              text: "If your statement is for a group of organisations, select the answer that applies to the organisation with the longest history of producing statements.",
              isPageHeading: false,
              classes: "govuk-body-l"
            }
          },
          items: [
            {
              value: "yes",
              text: "This is the first time"
            },
            {
              value: "no",
              text: "1 to 5 years",
              checked: true
            },
            {
              value: "yes",
              text: "More than 5 years"
            }
          ]
        }) }}

  <!--CTA start-->
{% from "govuk/components/button/macro.njk" import govukButton %}
<div class="govuk-button-group">
  {{ govukButton(
    {
    text: "Save and continue",
    href: "../6r_MSSR-complete"
  }
  ) }}
  <a class="govuk-link" href="../6r_MSSR-complete">Skip this question</a>
</div>
<!--CTA end-->



        <!-- <button class="govuk-button" data-module="govuk-button">Continue</button> -->

      </form>

    </div>
  </div>

{% endblock %}
