{% extends "layout.html" %}

{% block pageTitle %}
 Organisation page – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


<!-- Back starts-->
{% block beforeContent %}

<!-- phase banner starts-->
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<!--phase banner ends-->

 <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}
<!--Back ends -->

{% block content %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Which organisations are included in your 2023 group statement?</h1>

<p class="govuk-body"><a href="#">Return to previous search results</a></p>
<!-- search box starts -->
{{ govukInput({
  label: {
    text: "Tell us the name of the organisation"
  },
  id: "event-name",
  name: "event-name",
  classes: "govuk-!-width-three-quarters"
}) }}

<div class="govuk-button-group">
  {{ govukButton({
    text: "Include",
    classes: "govuk-button--secondary"
  }) }}
</div>
<!-- search box ends-->


<!-- Table START -->
{% set mySecondary %}
    {{ govukButton({
        text: "Include",
        href: "#",
        classes: "govuk-button--secondary"
    }) }}
{% endset %}

{% set myLink %}
<p class="govuk-link"> <a href="#">Remove</a></p>
{% endset %}



{{ govukTable({
  captionClasses: "govuk-body",
  firstCellIsHeader: true,
  rows: [
    [
      {
        text: "ASDA GROUP LIMITED"
      },
      {
        html:myLink
      }
    ],
    [
    {
      text: "ASDA GROUP LIMITED"
    },
    {
      html:myLink
    }
  ],
    [
    {
      text: "ASDA GROUP LIMITED"
    },
    {
      html:myLink
    }
    ]
  ]
}) }}
<!-- Table END -->


<!--CTA start-->
<div class="govuk-button-group">
  {{ govukButton({
    text: "Continue",
    href: "S11-5B-addManually-confirm"
  }) }}
</div>
<!--CTA end-->

</div>

  </div>

{% endblock %}
