{% extends "layout.html" %}

{% block pageTitle %}
PDF delete confirmation – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="S13-4-DeleteConfirm" method="post">
        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "delete-document",
          name: "delete-document",
          fieldset: {
            legend: {
              text: "Are you sure you want to delete your PDF statement?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            html: '<p class="govuk-body">You are going to delete the file <strong>NameOfTheFileComesHere.PDF</strong>, which was uploaded on 30th April 2022.</p><p>The file deletion cannot be undone.</p>'
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: checked("delete-document", "yes")
            },
            {
              value: "no",
              text: "No",
              checked: checked("delete-document", "no")
            }
          ],
          errorMessage: error
        }) }}
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
