{% extends "layout.html" %}

{% block pageTitle %}
PDF file uploaded – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<!-- phase banner starts-->
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<!--phase banner ends-->

<!-- Back starts-->
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
<!--Back ends -->
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<!-- Notification banner starts-->
{% set html %}
  <h3 class="govuk-notification-banner__heading">
    PDF version of your 2023 statement has been uploaded
  </h3>
{% endset %}

{{ govukNotificationBanner({
  html: html,
  type: 'success'
}) }}

<!-- Notification banner ends-->

<!-- green box : PDF version of your 2023 statement has been uploaded-->
<h1 class="govuk-heading-l govuk-!-margin-bottom-9">Upload PDF version of your 2023 statement (optional)</h1>


<div class="govuk-grid-column-one-quarter govuk-!-margin-bottom-7"><img src="/public/images/doc-thumbnail.png" alt="Thumbnail to represent a document"></div>
<div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-7">
<!--File details section start -->
<h1 class="govuk-heading-m govuk-!-margin-bottom-1">NameOfTheFileComesHere.pdf</h1>
<p class="govuk-body">File uploaded:  30 April 2023 at 12:30pm <br/> PDF | 320 KB</p>
<p class="govuk-body"><a href="S13-4-DeleteConfirm" class="govuk-link">Delete file</a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="govuk-link">View file (opens in new window)</a> </p>
<!-- file details end -->
</div>

<!-- Inset text start-->
{{ govukInsetText({
  text: "Only one file is allowed to be uploaded per statement. To replace the uploaded file, first delete the existing one."
}) }}
<!-- Inset text end-->

<p>&nbsp;</p>


<!--CTA start-->
<div class="govuk-button-group">
  {{ govukButton({
    text: "Continue",
    href: "S13-6-FY"
  }) }}
</div>
<!--CTA end-->

      <!--  <button class="govuk-button" data-module="govuk-button">Continue</button> -->

      </form>

    </div>
  </div>

{% endblock %}
