{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/3_FY-2" method="post">
        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "fy2-year",
          name: "fy2-year",
          fieldset: {
            legend: {
              text: "Does your financial year-end date fall between 1 July 2021 and 30 June 2022?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "In order to submit your modern slavery statement for 2022, your financial year-end date should fall between 1 July 2021 and 30 June 2022."
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: checked("fy2-year", "yes")
            },
            {
              value: "no",
              text: "No",
              checked: checked("fy2-year", "no")
            }
          ],
          errorMessage: error
        }) }}
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
