{% extends "layout.html" %}

{% block pageTitle %}
Transparency and modern slavery – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
<!-- phase banner starts-->
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<!--phase banner ends-->

<!-- Back starts-->
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
<!--Back ends -->
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-l">Transparency and modern slavery</h1>
      <p class="govuk-body">Under section 54 of the Modern Slavery Act 2015 modern slavery statements must cover the steps that all relevant organisations have taken to ensure that slavery and human trafficking is not taking place in any of their supply chains or any parts of their business. If an organisation has taken no steps, it must still publish a statement stating this clearly. </p>
      <p class="govuk-body">The purpose of the modern slavery statement registry is to increase supply chain transparency and improve understanding of modern slavery risks and best practice.</p>
      <p class="govuk-body">We acknowledge that identifying and addressing modern slavery risks is a long-term challenge. Our aim is for organisations to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>be open and transparent about modern slavery risks in their operations and supply chains</li>
        <li>target their actions and prioritise risks in order to have the most impact</li>
        <li>make progress over time to address those risks and improve outcomes for workers</li>
      </ul>
      <p class="govuk-body">We encourage you to answer all questions as fully as possible.</p>

<!-- Button -->
{{ govukButton({
  text: "Continue",
  href: "/new-user/6_MSSR"
}) }}
<!-- Button Ends-->


</div>

  </div>

{% endblock %}
