{% extends "layout.html" %}

{% block pageTitle %}
Registry year – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Modern slavery statement registry</span>
<h1 class="govuk-heading-l">Updating from Registry year<br/> to Financial year</h1>
<p>Functionalities covered in this prototype:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Removing all references of Registry year in the journey and replacing with Financial year</li><br/>
 <!--<li><b>Editing existing group statement:</b><br/>User editing a published group organisation statement. Changing from Group > Single or from Single > Group</li><br/>
  <li><b>Reusing previous group statement:</b><br/>User using their previous year group statement as a baseline and adding/removing the subsidairies from the list. </li>-->
</ul>

    <!-- <a href="1_manage_orgs.html" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>-->

    </div>

   <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Jump to
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">



            <li><span class="govuk-caption-m">Slice 1</span><br/>
              <span class="govuk-body-s"><a href="slice1/s1-noFYdetails/1_manage_orgs">S1.1: Without FY details </a></span>
                <ol class="govuk-list govuk-list--number govuk-body-s">
                <li>Asking for the FY dates once they click on the org name within the organisation page</li>
                <li>Showing the collected FY info on the organisation page</li></ol>

                <span class="govuk-body-s"><a href="slice1/s1-withFYdetails/1_manage_orgs">S1.2: With FY details </a></span>
                <ol class="govuk-list govuk-list--number govuk-body-s">
                <li>No FY will be asked</li>
                <li>Showing the FY info on the Organisation page which has been collected from one of their previous visits</li></ol>

                <span class="govuk-body-s"><a href="slice1/s1-noFYdetails/2_FY-Error-1">S1/S2/S3: FY error screen</a>
                  <ul class="govuk-list govuk-list--bullet govuk-body-s">
                    <li>This page is applicable for Slice 1, 2, 3 when the user clicked on the "Continue" button without selecting any month</li></ul>
                </span>

            <hr class="govuk-section-break govuk-section-break--visible"></li>


            <li><span class="govuk-caption-m">Slice 2</span><ol class="govuk-list govuk-list--bullet govuk-body-s"><li>Has now been merged with Slice 1</li></ol>

            <hr class="govuk-section-break govuk-section-break--visible"></li>


<!--
            <li><span class="govuk-caption-m">Slice 2</span><br/>
              <span class="govuk-body-s"><a href="slice2/s2-noFYdetails/1_manage_orgs">S2: Without FY details </a></span>
                <ol class="govuk-list govuk-list--number govuk-body-s">
                <li>Asking for the FY dates once they click on the org name within the organisation page</li>
                <li>Showing the collected FY info on the organisation page</li>
              <li>Showing 'Change in your FY?' link on the organisation page</li></ol>

                <span class="govuk-body-s"><a href="slice2/s2-withFYdetails/1_manage_orgs">S2: With FY details </a></span>
                <ol class="govuk-list govuk-list--number govuk-body-s">
                <li>No FY dates will be asked</li>
                <li>Showing the FY info on the Organisation page which has been collected from one of their previous visits</li>
                <li>Showing 'Change in your FY?' link on the organisation page</li></ol>

            <hr class="govuk-section-break govuk-section-break--visible"></li>
-->



            <li><span class="govuk-caption-m">Slice 3</span><br/>
              <span  class="govuk-body-s"><a href="slice3/s3-noFYdetails/1_manage_orgs">S3.1: Without FY detail</a></span>
                <ol class="govuk-list govuk-list--number govuk-body-s">
                <li>Asking for the FY dates once they click on the org name within the organisation page</li>
                <li>Showing the collected FY info on the organisation page</li>
              <li>Showing 'Change in your FY?' link on the organisation page</li></ol>

                <span class="govuk-body-s"><a href="slice3/s3-withFYdetails/1_manage_orgs">S3.2: With FY details </a></span>
                <ol class="govuk-list govuk-list--number govuk-body-s">
                <li>No FY will be asked</li>
                <li>Showing the FY info on the Organisation page which has been collected from one of their previous visits</li>
                <li>Showing 'Change in your FY?' on the organisation page</li></ol>

                <span class="govuk-body-s"><a href="slice3/s3-noFYdetails/2_FY-Error-2">S3.1: FY error screen</a>
                  <ul class="govuk-list govuk-list--bullet govuk-body-s">
                    <li>This page is applicable for Slice 3.1 or if they bookmakred this page and trying to change their FY selection</li></ul>
                </span>

            <hr class="govuk-section-break govuk-section-break--visible"></li>



           <li>
            <span class="govuk-caption-m">Slice 3A</span><br/>
            <span class="govuk-body-s"><a href="/slice3A/10_ViewingService-2023.html">Viewing service page</a></span>
            <ol class="govuk-list govuk-list--number govuk-body-s">
              <li>Removing the Registry year in the headings on this page and replacing it with the Financial year</li>
              <li>Replacing "Registry year" column with the Financial Year in the table</li></ol>
              <hr class="govuk-section-break govuk-section-break--visible">
          </li>




          <li>
            <span class="govuk-caption-m">Slice 3B</span><br/>
            <span class="govuk-body-s"><a href="/slice3A/11_Downloads.html">Download page</a></span>
            <ol class="govuk-list govuk-list--number govuk-body-s">
              <li>Changing the format of showing the list, and adding information about the financial year for each data file.</li></ol>
              <hr class="govuk-section-break govuk-section-break--visible">
          </li>




          <li>
            <span class="govuk-caption-m">Slice 3C</span><br/>
            <span class="govuk-body-s"><a href="/slice3C/2_statement-search">Search results page</a></span>
            <ol class="govuk-list govuk-list--number govuk-body-s">
              <li>Showing the results in a new page</li>
              <li>Removed 'or use search filters' on this page</li>
              <li>Updated the CTAs on this page</li>
              <li>Removed "Download all statement summary data" - Do we need it? Any data on the clicks happening on this link?</li>
            </ol>
              <hr class="govuk-section-break govuk-section-break--visible">
          </li>


          <li>
            <span class="govuk-caption-m">Slice 4</span>
            <ol class="govuk-list govuk-list--number govuk-body-s"><li><a href="/2A_org_page">The user adding a statement</a></li>
            <li><a href="/return-user/2_org_page">The user editing their statement</a> </li></ol>
            <hr class="govuk-section-break govuk-section-break--visible">
          </li>
          <!-- <li><a href="/return-user-adding/2_org_page">The user adding their second group statement.</li>-->


          <li>
            <span class="govuk-caption-m">Slice 6</span>
            <span class="govuk-body-s"><a href="slice6/1_list-orgs.html">Organisation registration</a></span>
            <ol class="govuk-list govuk-list--number govuk-body-s">
            <li>Updating the Registration journey so that the search functionality is inline with the GDS principles</li>
            <li>Updating "Organisation cannot found" pages, to keep it inline with the journey we did for the Group org submission (Adding a subsidiary manually)</li>
          </ol>

            <hr class="govuk-section-break govuk-section-break--visible">
          </li>


          </ul>
        </nav>
      </aside>
    </div>
  </div>
{% endblock %}
