{% extends "layout.html" %}

{% block pageTitle %}
 Organisation page – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


<!-- Back starts-->
{% block beforeContent %}

<!-- phase banner starts-->
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<!--phase banner ends-->

 <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}
<!--Back ends -->

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Find modern slavery statements</h1>
      <p class="govuk-body">This is currently a voluntary service. Not all organisations have added their statements to the registry yet.</p>

    <!-- text field START-->
      {{ govukInput({
        hint: {
          text: "Organisation name or company number"
        },
        id: "event-name",
        name: "event-name"
      }) }}
    <!-- text field END-->

<!-- CTA START-->
{% from "govuk/components/button/macro.njk" import govukButton %}
<div class="govuk-button-group">
  {{ govukButton({
    text: "Search statement",
    href: "3_statement-searchResults"
  }) }}
  <a class="govuk-link" href="#">See all statements</a>
</div>
<!-- CTA END-->



    </div>

  </div>

{% endblock %}
